// main colors
$lavander: #f7ebec;
$light-purple: #a3a3cd;
$light-blue: #c7ede6;
$dark-pink: #ddbdd5;
$rose: #ac9fbb;
$gray: #59656f;
$cream-white: #fefdef;
$dark-gray: #1d1e2c;
$primary-gray: #393d3f;
$secondary-gray: #bfc0c0;
$light-gray: #f5f8fb;