.edit-issue {
    &__form {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin: 20px 0;
    }

    &__assignees {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 20px;
    }
}